In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd

# Create the series
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

# Print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Convert the list to a Pandas series
my_series = pd.Series(my_list)

# Print the series
print(my_series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [3]:
#ans 3 
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['F', 'M','F' ]}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age Gender
0   Alice   25      F
1     Bob   30      M
2  Claire   27      F

In [4]:
'''Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'''
'''In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different 
data types. It is similar to a spreadsheet or a SQL table. A Pandas DataFrame can be thought of as a 
collection of Pandas Series, where each Series represents a column of the DataFrame.

A Pandas Series, on the other hand, is a one-dimensional labeled data structure that can hold any data
type. It can be thought of as a single column of a DataFrame'''



# Create a Pandas Series
s = pd.Series([1, 2, 3, 4, 5])

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Gender': ['F', 'M', 'M']}
df = pd.DataFrame(data)

# Print the Series and DataFrame
print("Pandas Series:\n", s)
print("\nDataFrame:\n", df)

Pandas Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
       Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M

In [ ]:
'''Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?'''

'''Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. 
Some of the most common functions used to manipulate data in a Pandas DataFrame include:

head(): Returns the first n rows of the DataFrame. This is useful to quickly check the
contents of the DataFrame. For example, df.head() returns the first five rows of the DataFrame df.

tail(): Returns the last n rows of the DataFrame. This is useful to quickly check the end of
the DataFrame. For example, df.tail() returns the last five rows of the DataFrame df.'''

In [ ]:
'''Q6. Which of the following is mutable in nature Series, DataFrame, Panel?''''

'''Both Series and DataFrame are mutable in nature, while Panel is not.'''

In [6]:
'''Q7. Create a DataFrame using multiple Series. Explain with an example.'''


# create three Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
salaries = pd.Series([50000, 70000, 60000])

# create a DataFrame from the Series
data = {'Name': names, 'Age': ages, 'Salary': salaries}
df = pd.DataFrame(data)

# print the DataFrame
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   70000
2  Charlie   35   60000